<%- include("partials/header.ejs") %>

<div id="main">
    <div id="menu_container">
        <a href="/" class="menu_item">Home</a>
        <a href="/create" class="menu_item">Create</a>
        <a href="/about" class="menu_item">About</a>
    </div>
    <div id="body_area">
        <p> This is where blogs will post. </p>
    </div>
</div>

<%- include("partials/footer.ejs") %>
