html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

#main {
    display: flex;
    height:100vh;
}

#menu_container {
    /* background-color: gray; */
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    background-color: lightgray;
}

#body_area {
    flex: 1;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80vh;
}

.menu_item {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #aaa;
    background-color: lightgray;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

#text {
    padding-top: 30px;
}

.sub-button {
    margin-top: 20px;
    width: 200px;
}

footer {
    border-top: 1px solid #aaa;
}